@import 'main.css'; /* Import shared styles */

.content-container {
  padding: 3rem; /* Added padding */
  max-width: 1000px;
  margin: 2rem auto;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  border-radius: 10px; /* Added border-radius */
}

.feature-section {
  text-align: center;
}

.feature-section h1 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
}

.feature-section p {
  margin-bottom: 2rem;
  line-height: 1.7;
}

.feature-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
  list-style: none; /* Remove the default bullet points */
}

.feature-item {
  text-align: center;
}

.feature-item img {
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  padding: 1rem; 
  border-radius: 10px; /* Added border-radius */
}

.feature-item div {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
  background-color: #fff;
}

.feature-item strong {
  font-weight: bold;
}

.feature-item p {
  font-size: 0.9rem;
  color: #555;
}