:root {
    --primary-color: #007bff; /* Keep this for consistent button color */
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #f093fb, #f5576c); 
    background-size: 600% 600%;
    animation: gradientAnimation 10s ease infinite;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.btn {
    padding: 1.2rem 2.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease, border 0.3s ease;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background-color: #0069d9;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.btn:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn:focus {
    outline: 2px solid #007bff;
    outline-offset: 2px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white */
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--primary-color);
    text-decoration: none;
}

.nav-links {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.nav-link {
    display: inline-block;
    padding: 0.6rem 1.2rem;
    text-decoration: none;
    color: var(--secondary-color);
    transition: color 0.3s ease, transform 0.2s ease;
    margin: 0 0.5rem;
    font-size: 1rem;
}

.nav-link:hover {
    color: var(--primary-color);
    transform: scale(1.05);
}
#footer-container {
    width: 100%;
    margin-top: auto;
}

.main-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.75rem 0;
    margin: 0;
}
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}