@import 'main.css';

/* Result Cards */
.result-card, .class-probabilities-card, .result-main {
  background-color: #f8f8f8;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 2rem;
  text-align: center;
  width: 100%;
  max-width: 1000px; /* Increased max-width to accommodate larger images */
  margin-bottom: 2rem;
}

/* Adjusting Image Sizes */
.result-card img, .image-container img {
  max-width: 100%;
  height: 300px; /* Increased image height */
  object-fit: cover;
  border-radius: 8px;
}

/* RGB Matrix Images */
.image-container {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.image-container img {
  width: 300px; /* Increased size of RGB matrix images */
  height: 300px;
}

/* Class Probabilities Table Styling */
.rgb-matrix {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.rgb-matrix td {
  border: 1px solid #ccc; 
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 14px;
}

.red-matrix {
  background-color: #f0f0f0; /* Light red background */
}

.green-matrix {
  background-color: #f0f0f0; /* Light green background */
}

.blue-matrix {
  background-color: #f0f0f0; /* Light blue background */
}

/* Class Probabilities and Result Section Layout */
.results-row {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

/* Class Probabilities Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

thead {
  background-color: #0056b3;
  color: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Result Main */
.result-main p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.result-main ul {
  list-style-type: disc;
  margin: 1rem 0 0;
  padding-left: 2rem;
}

.result-main ul li {
  margin: 0.5rem 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .results-container {
      flex-direction: column;
      gap: 1.5rem;
  }

  .result-card, .class-probabilities-card, .result-main {
      width: 100%;
      max-width: none;
  }

  .image-container {
      flex-direction: column;
      align-items: center;
  }

  .results-row {
      flex-direction: column;
      align-items: center;
  }
}
