@import 'main.css';

.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.rgb-matrices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.result-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
}

.main-result-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  width: 70%;
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 1.1rem;
  text-align: center;
}

.main-result-card ul {
  list-style-position: inside; 
  text-align: left; 
  margin-left: auto;
  margin-right: auto; 
  display: inline-block;
  margin-top: 0; /* Remove top margin from the list */
}

.result-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

h2 {
  font-size: 1.3rem;
  color: #333;
}

/* Flex layout for side-by-side arrangement */

.class-probabilities-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 72%;
  gap: 20px;
  margin-bottom: 20px;
}

/* Class Probabilities Card */
.class-probabilities-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 35%;
}

.class-probabilities table {
  width: 100%;
  border-collapse: collapse;
}

.class-probabilities th, .class-probabilities td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Class Probabilities Graph */
.class-probabilities-graph {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 65%;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.class-probabilities-graph img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.class-probabilities-card,
.class-probabilities-graph {
  flex: 1;
}