<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@700&family=Open+Sans&family=Oswald&family=Playfair+Display&family=Poppins&family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="..\static\assets\css\header.css">
</head>
<header class="main-header">
    <div class="container header-content">
        <a href="/" class="header-logo">GastroScope AI</a>
        <nav class="main-nav">
            <ul class="nav-links">
                <li><a href="{{ url_for("about") }}" class="nav-link">About</a></li>
                <li><a href="{{ url_for("features") }}" class="nav-link">Features</a></li>
                <li><a href="{{ url_for("graph") }}" class="nav-link">Graph</a></li> 
            </ul>
        </nav>
    </div>
</header>