<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - GastroScope AI</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="..\static\assets\css\main.css"> <link rel="stylesheet" href="..\static\assets\css\home.css">
</head>
<body>
  <div id="header-container"></div>
  <main class="main-content">
    <!-- Image Selection Form -->
    <div class="content-container">
      <section id="image-selection" class="image-select-section">
        {% if msg %}
        <div class="alert alert-warning alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Warning!</strong> {{msg}}
        </div>
        {% endif %}
        <h2>Select Image for Analysis</h2>
        <form action="{{url_for('image')}}" method="POST" enctype="multipart/form-data">
          <div class="file-upload-wrapper">
              <label for="file" id="file-label">
                  <input type="file" id="file" name="filename" required>
                  <span class="file-text">Choose File</span> </label>
          </div>
          <button type="submit" class="btn">Analyze Image</button>
      </form>
      </section>
    </div>
  </div>
  </main>
  <div id="footer-container"></div>
  <script>
    const fileInput = document.getElementById('file');
const fileText = document.querySelector('.file-text');

fileInput.addEventListener('change', (event) => {
    if (event.target.files.length > 0) {
        let fileName = event.target.files[0].name;
        if (fileName.length > 15) {
            fileName = fileName.substring(0, 15) + "...";
        }
        fileText.textContent = fileName;
    } else {
        fileText.textContent = 'Choose File';
    }
});
</script>
  <script>
    function loadContent(url, targetId) {
fetch(url)
    .then(response => {
        if (!response.ok) { // Check for errors
            throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.text();
    })
    .then(html => document.getElementById(targetId).innerHTML = html)
    .catch(error => console.error("Error loading content:", error)); // Handle errors
}
loadContent('{{ url_for("header") }}', 'header-container');
loadContent('{{ url_for("footer") }}', 'footer-container');
</script>
</script>
</body>
</html>